@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'toastify-js/src/toastify.css';

* {
    font-family: 'Cairo', sans-serif;
}

[x-cloak] {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #adbcff;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7296f8;
    border-radius: 4px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7296f8;
}

select option:checked,
select option[multiple]:checked {
    background-color: #6596ff;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgb(217, 217, 217);
}

/* table tbody tr:nth-child(odd){
    background-color: #F3F4F6;
} */
